name: Lint Python
on:
  workflow_call:
  # Because we have a uv.lock file, we can also use this workflow to lint ourselves.
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  files:
    runs-on: ubuntu-latest
    steps:
      - name: Begin snap installs of common linters
        id: snap-install
        run: |
          echo -n 'jobs="$(sudo snap install --no-wait codespell ruff shellcheck)"' >> $GITHUB_OUTPUT
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Sphinx's linting uses the git history when getting timestamps.
      - name: Set up uv with caching
        id: setup-uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Set up linters
        run: |
          for job in ${{ steps.snap-install.outputs.jobs }}; do
            sudo snap watch $job
          done

          # Try setting up the linters, but if it breaks try again after an apt update.
          # It's written this way because mostly we don't need apt-get update and it just
          # makes the job take longer, but when we do need it it's because a package deb
          # got removed that makes the linter setup fail. This gets fixed automatically
          # when GitHub rebuilds the image.
          if ! make -j setup-lint; then
            sudo apt-get update
            make -j setup-lint
          fi
      - name: Run linters
        run: make -k lint
