name: Test Python
on:
  workflow_call:
    inputs:
      fast-test-platforms:
        type: string
        default: '["jammy", "noble"]'
        description: |
          The platforms to run fast tests on, as a JSON array.
      fast-test-python-versions:
        type: string
        default: '["3.10", "3.11", "3.12", "3.13"]'
        description: |
          The python versions to run fast tests on, as a JSON array.
      slow-test-platforms:
        type: string
        default: '["jammy"]'
        description: |
          The platforms to run slow tests on, as a JSON array.
      slow-test-python-versions:
        type: string
        default: '["3.10"]'
        description: |
          The python versions to run slow tests on, as a JSON array.
      lowest-python-platform:
        type: string
        description: |
          The platform to run the lowest python version tests on.
        default: "ubuntu-22.04"
      lowest-python-version:
        type: string
        description: |
          The Python version to run when using "lowest" resolution for tests.
        default: "3.10"
      use-lxd:
        type: boolean
        description: |
          Whether to set up LXD on Linux runners.
        default: false
      pytest-markers:
        type: string
        description: |
          A pytest marker filter to add when running the tests.
      setup-vars:
        type: string
        description: |
          Additional environment variables to use during setup.
      test-command-prefix:
        type: string
        description: |
          Anything to prefix the `make test-coverage` command with. Useful when running tests as another user.
        default: ""

jobs:
  fast:
    name: Fast tests
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJson(inputs.fast-test-platforms) }}
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
      - name: Set up tests
        shell: bash
        run: |
          for python_version in $(echo '${{ inputs.fast-test-python-versions }}' | jq -r .[] | tr '\n' ' '); do
            python_dirname=$(echo ${{ runner.temp }} | tr '\\' /)/venv_$(echo $python_version | tr . _)
            make -j setup-tests UV_PROJECT_ENVIRONMENT="${python_dirname}" UV_PYTHON="${python_version}" ${{ inputs.setup-vars }}
          done
      - name: Run tests
        shell: bash
        env:
          MARKERS: ${{ inputs.pytest-markers }}
        run: |
          exit_code=0
          for python_version in $(echo '${{ inputs.fast-test-python-versions }}' | jq -r .[] | tr '\n' ' '); do
            echo "::group::Python ${python_version}"
            python_dirname=$(echo ${{ runner.temp }} | tr '\\' /)/venv_$(echo $python_version | tr . _)
            if ! ${{ inputs.test-command-prefix }} make test-coverage UV_PROJECT_ENVIRONMENT="${python_dirname}" PYTEST_ADDOPTS="-m 'not slow ${MARKERS:+and ($MARKERS)}'" UV_PYTHON="${python_version}"
            then
              exit_code=1
              echo "::error title=TESTS FAILED::Tests failed with Python ${python_version}"
            fi
            echo "::endgroup::"
          done
          exit $exit_code
      - name: Upload test coverage
        uses: actions/upload-artifact@v7
        with:
          name: coverage-fast-${{ join(matrix.platform, '-') }}
          overwrite: true
          path: |
            ./coverage.xml
            htmlcov/**
  slow:
    name: Slow tests
    strategy:
      matrix:
        platform: ${{ fromJson(inputs.slow-test-platforms) }}
        python-version: ${{ fromJson(inputs.slow-test-python-versions) }}
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tools
        run: |
          make -j setup-tests ${{ inputs.setup-vars }}
      - name: Run tests
        env:
          MARKERS: ${{ inputs.pytest-markers }}
        run: |
          ${{ inputs.test-command-prefix }} make test-coverage PYTEST_ADDOPTS="--no-header -v -rN -m 'slow ${MARKERS:+and ($MARKERS)}'"
      - name: Upload test coverage
        uses: actions/upload-artifact@v7
        with:
          name: coverage-slow-${{ join(matrix.platform, '-') }}-${{ matrix.python-version }}
          overwrite: true
          path: |
            ./coverage.xml
            htmlcov/**
  lowest:
    name: Minimum dependencies (all tests)
    if: ${{ inputs.lowest-python-version != '' }}
    # Allows either a string containing the platform or a JSON list of tags.
    # This is done for backwards compatibility with a string lowest-python version while
    # still allowing a list of tags if needed.
    runs-on: ${{ startsWith(inputs.lowest-python-platform, '[') && fromJson(inputs.lowest-python-platform) || inputs.lowest-python-platform }}
    env:
      UV_RESOLUTION: lowest
    steps:
      - name: Set up runner
        uses: canonical/starflow/setup-python-runner@main
        with:
          python-version: ${{ inputs.lowest-python-version }}
      - name: Install tools
        run: |
          make -j setup-tests ${{ inputs.setup-vars }}
      - name: Run tests
        env:
          MARKERS: ${{ inputs.pytest-markers }}
        run: |
          ${{ inputs.test-command-prefix }} make test-coverage PYTEST_ADDOPTS="-m '${MARKERS}'"
      - name: Upload test coverage
        uses: actions/upload-artifact@v7
        with:
          name: coverage-lowest-py${{ inputs.lowest-python-version }}
          overwrite: true
          path: |
            ./coverage.xml
            htmlcov/**
